<div class="top-personal-card ">
  <div class="personal-card">
    <div class="personal-image-card">
      <img src="/personal-foto.jpg" alt="Mert Gul">
    </div>
  </div>
  <div class="information-card">
    <div class="information">
      <h1>Mert Gül</h1>
      <h2>mertgulgmail.com</h2>
      <h3>+905446061799</h3>
      <div class="image-card">
        <h4>https://github.com/Honeybadger-png</h4>
        <img src="/github.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="bottom-personal-card">
  <div class="left-bottom">
    <p style="color:red">
      !!this section will be created separately as a card and it will be rendered dynamicly!!
    </p>
      
    <div class="personal-title">
      <h1>Education</h1>
    </div>
    <div class="personal-list">
      <ul>
        <li>
          Karabuk University
        </li>
      </ul>
    </div>
    <div class="personal-title">
      <h1>Skills</h1>
    </div>
    <div class="personal-list">
      <ul>
        <li>
          TypeScript
        </li>
      </ul>
    </div>
  </div>
  <div class="right-bottom">
    <h1>Right Side</h1>
  </div>
</div>
