.search-card{
  justify-content: end;
  justify-items: flex-end;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 6px #888888;
}

.search-input {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.search-input input{
  border-style: none;
  background-color: transparent;
}

.search-input input:focus {
  background-color: aqua;
}

.seach-place {
  background-color: transparent;
  margin-left: 10px;
  border-right: 2px black;
  border-top: 2px;
  border-bottom: 2px;
}